extends layout

block content
	title= photo.title
	header
		h1= photo.title
		p= photo.author.username
		p= photo.date_uploaded
	img(src="#{photo.path}")
	div#feedback.feedback
	div.specs
		h2 Specifications
		ul 
			li: | <strong>Camera:</strong> #{photo.camera}
			li: | <strong>Shutter:</strong> #{photo.shutter}
			li: | <strong>fstop:</strong> #{photo.fstop}
			li: | <strong>iso:</strong> #{photo.iso}
			
	div.about
		h2 About photo
		p= photo.writeup
	div#critique-submit.critique-submit
		h2 Feedback
		button#crit-sub.submit Submit a critique
	div#critique-area
	- if(photo.critiques.length === 0) 
		p There are no critiques yet
	script(src="/javascripts/feedback.js")
