extends layout

block content
	title= user.username
	h1= user.username
	// p= user
	h2 My profile
	#profile
		#profile-pic
			p: img(alt="placeholder image" src="#{user.self_portrait}")
		#basics
			p Username <br /> #{user.username}
			p First name <br /> #{user.first_name}
			p Last name <br /> #{user.last_name}
			p Email <br /> #{user.email}
		// #bio
	h2 My groups
	#group-listing
		if(user.groups.length > 0)
			for group in user.groups
				.package
					a(href="#").group= group.name
					a(href="#").delete x
		else
			p Not a member of any groups yet.
	#group-add
		label(for="group") To create or join a group, please type a name
		br
		input(type="text" name="group" id="group-input")
		input(type="submit" name="submit" id="group-submit" value="Submit")
	h2 My photos
	#photo-buttons
		button: | Add a photo
		button: | Remove a photo
	if(user.photos.length > 0)
		for photo in user.photos
			div#photo-thumb.photothumb
				a(href="/photos/#{photo._id}")
					img(src="#{photo.thumb}")
				p: strong= photo.title
	script(src="/javascripts/profile.js")
