extends layout

block content
	title= user.username
	h1= user.username
	// p= user
	h2 Profile
	#profile
		#profile-pic
			p: img(alt="placeholder image" src="#{user.self_portrait}")
		#basics
			p Username <br /> #{user.username}
			p First name <br /> #{user.first_name}
			p Last name <br /> #{user.last_name}
			p Email <br /> #{user.email}
		// #bio
	h2 Groups
	if(user.groups.length > 0)
		for group in user.groups
			.group= group
	#group-buttons
		button: | Join a group
		button: | Create a group
		button: | Withdraw from a group
	h2 Photos
	#photo-buttons
		button: | Add a photo
		button: | Remove a photo
	if(user.photos.length > 0)
		for photo in user.photos
			div#photo-thumb.photothumb
				a(href="/photos/#{photo._id}")
					img(src="#{photo.thumb}")
				p: strong= photo.title
